body{
padding:0%;
margin: 0%;
}

.details
{
  position: absolute;
  width:100%;
  height: 100%;
  background:#FED32C;
  
}
  .ellipes{
    position: absolute;
    width: 31.4%;
    height: 14.50%;
    left: 32.36%;
    top: 5.803%;
    background: #FFFFFF;
    border-radius: 50%;
    border-color: #FED32C;
    border-width: 9px;
    border-style: solid;
    
  }
  .icons{
    position: absolute;
    left: 8.33%;
    
   
  }
  
  .material-icons.i{
    
    font-size: 55px;
    position: fixed;
  top:11.6%;
  left:44.16%;
  /* right: 43.71%; */
  bottom:83.25%;
    
  }
  i{
    float: none;
    left: 28.094%;
    top: 30.5%;
    position: absolute;
    color: black;
    display:block;
    }
  .cont{
position: absolute;
width: 91.06%;
height: 82.589%;
left: 4.34%;
top: 14.39%;

background: #FFFFFF;
border-radius: 10px;
  }
.Business{
position: absolute;
width: 78.74%;
height: 5.803%;
left: 11.11%;
top: 26.22%;
background: #FFFFFF;
border: 3px solid #191919;
box-sizing: border-box;
border-radius: 15px;
outline: none;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 2.343%;
letter-spacing: 0.05em;
color: rgba(0, 0, 0, 0.72);

  }
  .fname{
position: absolute;
width: 78.74%;
height: 5.803%;
left: 11.11%;
top: 35.714%;
outline: none;

background: #FFFFFF;
border: 3px solid #000000;
box-sizing: border-box;
border-radius: 15px;
font-weight: 600;
font-size: 14px;
line-height: 2.343%;
letter-spacing: 0.05em;

color: rgba(0, 0, 0, 0.72);

  }
  .lname{
    position: absolute;
width: 78.74%;
height: 5.803%;
left: 11.11%;
top: 45.089%;
outline: none;

background: #FFFFFF;
border: 3px solid #000000;
box-sizing: border-box;
border-radius: 15px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 2.343%;
/* identical to box height */

letter-spacing: 0.05em;

color: rgba(0, 0, 0, 0.72);

  }
.address{
position: absolute;
width: 78.74%;
height: 16.406%;
left: 11.11%;
top: 54.35%;

background: #FFFFFF;
border: 3px solid #000000;
box-sizing: border-box;
border-radius: 15px;
outline: none;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 2.343%;
letter-spacing: 0.05em;

color: rgba(0, 0, 0, 0.72);

}
.phone{
  
position: fixed;
width: 78.74%;
height: 5.803%;
left: 11.11%;
/* top: 74.10%;  */
bottom:20.09%;
background: #FFFFFF;
border: 3px solid #000000;
box-sizing: border-box;
border-radius: 15px;
outline: none;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 2.343%;
letter-spacing: 0.05em;

color: rgba(0, 0, 0, 0.72);

}
.but{
position: absolute;
width: 77px;
height: 77px;
left: 71.25%;
top: 81.82%;
border-radius: 77px;
background: #000000;
outline:none;
}
.material-icons.span{
  color:#F2C94C;
  font-size: 48px;
}


/* for adding photo */
#modal {
  float: center;
  z-index: 100;
  /* height: 100%;
  width: 100%; */
  background: white;
  border: none;
  text-align: center;
}
/* .cr-boundary.rama {
width: 100%;
height: 100%;
} */
button,
.button {
  position: relative;
  background-color:  #FFCB21;
  color: black;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 10px;
  text-transform: uppercase;
  outline: none;
}

button.actionCancel,
.button.actionCancel {
  background-color: black;
  color: white;
  border: none;
}

button.actionDone,
.button.actionDone {
  display: none;
}

button input[type="file"],
.button input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* #result-wrapper {
  float: right;
} */

/* #result-wrapper img {
  border: 1px solid;

} */
.pho{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -20;
}
.pho.display{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 20;
  background: #FFFFFF;
}
.det.display
{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index:  0;
  padding: 0;
  border: 0;
}
.det{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -20;
}

.icons.hide{
  opacity: 0;
  z-index: -20;
}
.fim.hide{
  opacity: 0;
  z-index: -5;
 }
 .fim{
   opacity: 1;
 }